* {
  box-sizing: border-box;
}
html {
  overflow-y: auto;
}

input{
  outline: none;
}

.invalid{
  border: 1px solid #ff1111;
}

.valid{
  border: 1px solid #00ff2a;
}

.default{
  border: 1px solid #736b5e;
}

#_tickets{
  width: 100%;
  height: auto;
}

.ticket{
  width: 90%;
  margin: .5em 0;
  padding: .5em;
  background: #04363c;
}

.ticket a{
  color: #FFFF;
}